body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

/********************************* title section *******************************/

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
}

.container-fruid {
    padding: 3% 15% 5%;
}

.navbar {
    margin-bottom: 70px;
}

.navbar-brand {
    font-size: 250%;
    font-family: ubuntu;
}

.navbar-nav {
    font-size: 150%;
}

.nav-item {
    padding: 0 15px;
}

.btn-download {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

/*********************************  features section *********************************/

#features {
    padding-top: 200px;
    text-align: center;
    background-color: white;
    position: relative;
}

.features-icon {
    color: #ef8172;
    font-size: 400%;
    margin-bottom: 20px;
}

.features-icon:hover {
    color: #ff4c68;
}

.features-title {
    font-weight: 700;
}

.features-content {
    color: #8f8f8f;
}

/********************************* testimonials section *********************************/

#testimonials {
    margin-top: 200px;
    text-align: center;
    background-color: #EF8172;
    color: white;
}

h2 {
    font-size: 250%;
    font-weight: 700;
}

.testimonials-img {
    display: inline-block;
    border-radius: 50%;
    width: 20%;
    margin: 50px;
}

.carousel-item {
    padding: 5% 15%;
}

/********************************* press section *********************************/

#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-img {
    width: 15%;
    margin: 0 20px 0 20px;
}

/********************************* pricing section *********************************/

#pricing {
    text-align: center;
    margin: 100px;
}

.pricing {
    margin-top: 50px;
}

/********************************* cta section *********************************/

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

#footer {
    text-align: center;
}

.cta-text {
    padding-top: 100px;
}
